{
  "presets": [
    [
      "@babel/preset-env",
      {
        "shippedProposals": true,
        "modules": false,
        "comments": true,
        "targets": {
          "browsers": [
            "last 2 versions"
          ]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "syntax-dynamic-import"
  ]
}